<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="hev.sockstun">


	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
		tools:ignore="QueryAllPackagesPermission" />






	<application
		android:label="@string/app_name"
		android:theme="@android:style/Theme.Material">


		<service
			android:name=".TProxyService"
			android:exported="false"
			android:permission="android.permission.BIND_VPN_SERVICE"
			android:process=":native">

			<intent-filter>

				<action android:name="android.net.VpnService" />

			</intent-filter>

		</service>

		<receiver
			android:name=".ServiceReceiver"
			android:enabled="true"
			android:exported="true">

			<intent-filter>

				<action android:name="android.intent.action.BOOT_COMPLETED" />

			</intent-filter>

		</receiver>

		<activity
			android:name=".MainActivity"
			android:exported="true">

			<intent-filter>

				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />

			</intent-filter>

		</activity>

		<activity
			android:name=".AppListActivity"
			android:exported="true" />

	</application>

</manifest>